.task-body {
    background-color: #f3f3f3;
    width : 80%;
    border : 1px solid black;
    margin-top: 20px;
}

#title {
    float : left;
    margin : 20px;
    margin-left : 20px;
}

#delete-all {
    float : right;
    margin : 30px;
    margin-right : 20px;
}

#add-area > * {
    margin : 30px 0;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

#task-input {
    width : 50%;
    margin-right : 10px;
}

#add-task {
    background-color : #cfe2f3;
    color : black;
    border-color : black;
    width: 15%;
}

#search-area {
    margin : 30px 0;
    margin-left : 30px;
    justify-content : center;
    align-items: center;
}

#search-input {
    float : right;
    margin-right : 20px;
    width : 40%;
}

#list-view {
    overflow : auto;
    height : 400px;
}

#list-title {
    margin-left : 30px;
}

.single-task {
    margin : 10px;
    padding : 10px 10px;
}

.check {
    margin-right : 15px;
    width: 17px;
    height: 17px;
    vertical-align:middle;
}

.spinner{
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.task-list {
    min-height: 100px;
}
